.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*{
    box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  *::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
  }
@keyframes pulse {
    0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(234, 67, 53, 0.7); }
    70% { transform: scale(1.1); box-shadow: 0 0 0 10px rgba(234, 67, 53, 0); }
    100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(234, 67, 53, 0); }
}

button[style*="background-color: rgb(234, 67, 53)"] {
    animation: pulse 1.5s infinite;
}